<div id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false"
	class="app-sidebar-menu-primary menu menu-column menu-rounded menu-sub-indention menu-state-bullet-primary">
	<!--begin::Heading-->
	<div class="menu-item mb-2">
		<div class="menu-heading text-uppercase fs-7 fw-bold">MENÜ</div>
		<!--begin::Separator-->
		<div class="app-sidebar-separator separator"></div>
		<!--end::Separator-->
	</div>
	<!--end::Heading-->
	<!--begin:Menu item-->
	<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
		<!--begin:Menu link-->
		<span class="menu-link">
			<span class="menu-icon">
				<i class="ki-outline ki-briefcase fs-2"></i>
			</span>
			<span class="menu-title">Genel Bakış</span>
			<span class="menu-arrow"></span>
		</span>
		<!--end:Menu link-->
		<!--begin:Menu sub-->
		<div class="menu-sub menu-sub-accordion">
			<!--begin:Menu item-->
			<div class="menu-item">
				<!--begin:Menu link-->
				<a class="menu-link" href="https://preview.keenthemes.com/html/metronic/docs/base/utilities"
				 title="Genel Durum Analizi" data-bs-toggle="tooltip"
					data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Panel</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item">
				<!--begin:Menu link-->
				<a class="menu-link" href="https://preview.keenthemes.com/html/metronic/docs" 
					title="Malzeme Bazında Genel Durum Analizi" data-bs-toggle="tooltip" data-bs-trigger="hover"
					data-bs-dismiss="click" data-bs-placement="right">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Malzeme</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item">
				<!--begin:Menu link-->
				<a class="menu-link" href="https://preview.keenthemes.com/metronic8/demo38/layout-builder.html"
					title="Satış Bazında Genel Durum Analizi" data-bs-toggle="tooltip"
					data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Satış</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item">
				<!--begin:Menu link-->
				<a class="menu-link" href="https://preview.keenthemes.com/metronic8/demo38/layout-builder.html"
					title="Satınalma Bazında Genel Durum Analizi" data-bs-toggle="tooltip"
					data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Satınalma</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Menu sub-->
	</div>
	<!--end:Menu item-->
	<!--begin:Menu item-->
	<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
		<!--begin:Menu link-->
		<span class="menu-link">
			<span class="menu-icon">
				<i class="ki-outline ki-briefcase fs-2"></i>
			</span>
			<span class="menu-title">Malzeme İşlemleri</span>
			<span class="menu-arrow"></span>
		</span>
		<!--end:Menu link-->
		<!--begin:Menu sub-->
		<div class="menu-sub menu-sub-accordion">
			<!--begin:Menu item-->
			<div class="menu-item">
				<!--begin:Menu link-->
				<a class="menu-link" href="https://preview.keenthemes.com/html/metronic/docs/base/utilities"
					 title="Genel Durum Analizi" data-bs-toggle="tooltip"
					data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Panel</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item">
				<!--begin:Menu link-->
				<a class="menu-link" asp-controller="Product" asp-action="Index" 
					title="Malzeme Listesi" data-bs-toggle="tooltip" data-bs-trigger="hover"
					data-bs-dismiss="click" data-bs-placement="right">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Malzemeler</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item">
				<!--begin:Menu link-->
				<a class="menu-link" asp-controller="Warehouse" asp-action="Index" 
				   title="Ambar Listesi" data-bs-toggle="tooltip" data-bs-trigger="hover"
				   data-bs-dismiss="click" data-bs-placement="right">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Ambarlar</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->			
		</div>
		<!--end:Menu sub-->
	</div>
	<!--end:Menu item-->
	<!--begin:Menu item-->
	<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
		<!--begin:Menu link-->
		<span class="menu-link">
			<span class="menu-icon">
				<i class="ki-outline ki-abstract-26 fs-2"></i>
			</span>
			<span class="menu-title">Satış İşlemleri</span>
			<span class="menu-arrow"></span>
		</span>
		<!--end:Menu link-->
		<!--begin:Menu sub-->
		<div class="menu-sub menu-sub-accordion">
			<!--begin:Menu item-->
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<!--begin:Menu link-->
				<a class="menu-link" asp-controller="Customer" asp-action="Index" 
				   title="Müşteri Listesi" data-bs-toggle="tooltip" data-bs-trigger="hover"
				   data-bs-dismiss="click" data-bs-placement="right">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Müşteriler</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<!--begin:Menu link-->
				<a class="menu-link" asp-controller="WaitingSalesOrder" asp-action="Index" 
				   title="Bekleyen Satış Siparişleri Listesi" data-bs-toggle="tooltip" data-bs-trigger="hover"
				   data-bs-dismiss="click" data-bs-placement="right">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Bekleyen Satış Siparişleri</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
		
		</div>
		<!--end:Menu sub-->
	</div>
	<!--end:Menu item-->
	<!--begin:Menu item-->
	<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
		<!--begin:Menu link-->
		<span class="menu-link">
			<span class="menu-icon">
				<i class="ki-outline ki-abstract-35 fs-2"></i>
			</span>
			<span class="menu-title">Satınalma İşlemleri</span>
			<span class="menu-arrow"></span>
		</span>
		<!--end:Menu link-->
		<!--begin:Menu sub-->
		<div class="menu-sub menu-sub-accordion">
			<!--begin:Menu item-->
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<!--begin:Menu link-->
				<a class="menu-link" asp-controller="Supplier" asp-action="Index" 
				   title="Tedarikçi Listesi" data-bs-toggle="tooltip" data-bs-trigger="hover"
				   data-bs-dismiss="click" data-bs-placement="right">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Tedarikçiler</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<!--begin:Menu link-->
				<a class="menu-link" asp-controller="WaitingPurchaseOrder" asp-action="Index" 
				   title="Bekleyen Satınalma Siparişleri Listesi" data-bs-toggle="tooltip" data-bs-trigger="hover"
				   data-bs-dismiss="click" data-bs-placement="right">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Bekleyen Satınalma Siparişleri</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->

		</div>
		<!--end:Menu sub-->
	</div>
	<!--end:Menu item-->
	<!--begin:Menu item-->
	<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
		<!--begin:Menu link-->
		<span class="menu-link">
			<span class="menu-icon">
				<i class="ki-outline ki-briefcase fs-2"></i>
			</span>
			<span class="menu-title">Fason İşlemleri</span>
			<span class="menu-arrow"></span>
		</span>
		<!--end:Menu link-->
		<!--begin:Menu sub-->
		<div class="menu-sub menu-sub-accordion">
			<!--begin:Menu item-->
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<!--begin:Menu link-->
				<a class="menu-link" asp-controller="Outsource" asp-action="Index" 
				   title="Fason Cari Listesi" data-bs-toggle="tooltip" data-bs-trigger="hover"
				   data-bs-dismiss="click" data-bs-placement="right">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Fason Carileri</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->

		</div>
		<!--end:Menu sub-->
	</div>
	<!--end:Menu item-->
	<!--begin:Menu item-->
	<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
		<!--begin:Menu link-->
		<span class="menu-link">
			<span class="menu-icon">
				<i class="ki-outline ki-briefcase fs-2"></i>
			</span>
			<span class="menu-title">Sayım İşlemleri</span>
			<span class="menu-arrow"></span>
		</span>
		<!--end:Menu link-->
		<!--begin:Menu sub-->
		<div class="menu-sub menu-sub-accordion">
			<!--begin:Menu item-->
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<!--begin:Menu link-->
				<a class="menu-link" asp-controller="NegativeProduct" asp-action="Index" 
				   title="Negatif Malzeme Listesi" data-bs-toggle="tooltip" data-bs-trigger="hover"
				   data-bs-dismiss="click" data-bs-placement="right">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Negatif Malzemeler</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Menu sub-->
	</div>
	<!--end:Menu item-->
	<!--begin:Menu item-->
	<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
		<!--begin:Menu link-->
		<span class="menu-link">
			<span class="menu-icon">
				<i class="ki-outline ki-briefcase fs-2"></i>
			</span>
			<span class="menu-title">Hızlı Üretim İşlemleri</span>
			<span class="menu-arrow"></span>
		</span>
		<!--end:Menu link-->
		<!--begin:Menu sub-->
		<div class="menu-sub menu-sub-accordion">
			<!--begin:Menu item-->
			<div class="menu-item">
				<!--begin:Menu link-->
				<a class="menu-link" href="https://preview.keenthemes.com/html/metronic/docs/base/utilities"
					 title="Check out over 200 in-house components" data-bs-toggle="tooltip"
					data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Panel</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item">
				<!--begin:Menu link-->
				<a class="menu-link" asp-controller="QuicklyProductionBOM" asp-action="Index" 
				   title="Reçete Listesi" data-bs-toggle="tooltip" data-bs-trigger="hover"
				   data-bs-dismiss="click" data-bs-placement="right">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Reçeteler</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item">
				<!--begin:Menu link-->
				<a class="menu-link" href="https://preview.keenthemes.com/metronic8/demo38/layout-builder.html"
					title="Build your layout and export HTML for server side integration" data-bs-toggle="tooltip"
					data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Layout Builder</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item">
				<!--begin:Menu link-->
				<a class="menu-link" href="https://preview.keenthemes.com/html/metronic/docs/getting-started/changelog"
					>
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Changelog v8.2.7</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Menu sub-->
	</div>
	<!--end:Menu item-->
	<!--begin:Menu item-->
	<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
		<!--begin:Menu link-->
		<span class="menu-link">
			<span class="menu-icon">
				<i class="ki-outline ki-briefcase fs-2"></i>
			</span>
			<span class="menu-title">Sistem Ayarları</span>
			<span class="menu-arrow"></span>
		</span>
		<!--end:Menu link-->
		<!--begin:Menu sub-->
		<div class="menu-sub menu-sub-accordion">
			<!--begin:Menu item-->
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<!--begin:Menu link-->
				<a class="menu-link" asp-controller="User" asp-action="Index" 
				   title="Kullanıcı Listesi" data-bs-toggle="tooltip" data-bs-trigger="hover"
				   data-bs-dismiss="click" data-bs-placement="right">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Kullanıcılar</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<!--begin:Menu link-->
				<a class="menu-link" asp-controller="ReasonsForRejectionProcurement" asp-action="Index"
				   title="Red Nedenleri Listesi" data-bs-toggle="tooltip" data-bs-trigger="hover"
				   data-bs-dismiss="click" data-bs-placement="right">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Red Nedenleri</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Menu sub-->
	</div>
	<!--end:Menu item-->
</div>
