<!--begin::Modal - View Users-->
<div class="modal fade" id="product_mesaure_modal" tabindex="-1" aria-hidden="true">
	<!--begin::Modal dialog-->
	<div class="modal-dialog mw-450px">
		<!--begin::Modal content-->
		<div class="modal-content">
			<!--begin::Modal header-->
			<div class="modal-header pb-0 border-0 justify-content-end">
				<!--begin::Close-->
				<div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
					<i class="ki-outline ki-cross fs-1"></i>
				</div>
				<!--end::Close-->
			</div>
			<!--begin::Modal header-->
			<!--begin::Modal body-->
			<div class="modal-body scroll-y mx-5 mx-xl-10 pt-0 pb-5">
				<!--begin::Heading-->
				<div class="text-center mb-13">
					<!--begin::Title-->
					<h1 class="mb-3">Malzeme Ölçüleri</h1>
					<!--end::Title-->
					<!--begin::Description-->
					<div class="text-muted fw-semibold fs-5" id="ProductMesaureInformation">
						<a href="#" class="link-primary fw-bold"></a>.
					</div>
					<!--end::Description-->
				</div>
				<!--end::Heading-->
				<!--begin::Users-->
				<div class="mb-15">
					<!--begin::List-->
					<div class="mh-650px scroll-y">
						<!--begin::Body-->
						<div class="card-body pt-6">
							<!--begin::Item-->
							<div class="d-flex flex-stack">
								<!--begin::Symbol-->
								<div class="symbol symbol-40px me-4">
									<div class="symbol-label fs-2 fw-semibold bg-danger text-inverse-danger">E</div>
								</div>
								<!--end::Symbol-->
								<!--begin::Section-->
								<div class="d-flex align-items-center flex-row-fluid flex-wrap">
									<!--begin:Author-->
									<div class="flex-grow-1 me-2">
										<a href="pages/user-profile/overview.html" class="text-gray-800 text-hover-primary fs-6 fw-bold">En</a>
									</div>
									<!--end:Author-->
									<!--end:Author-->
									<div class="flex-shrink-0 ms-auto">
										<span class="text-gray-800 text-hover-primary fs-6 fw-bold" id="productWidth"></span>
									</div>
								</div>
								<!--end::Section-->
							</div>
							<!--end::Item-->
							<!--begin::Separator-->
							<div class="separator separator-dashed my-4"></div>
							<!--end::Separator-->
							<!--begin::Item-->
							<div class="d-flex flex-stack">
								<!--begin::Symbol-->
								<div class="symbol symbol-40px me-4">
									<div class="symbol-label fs-2 fw-semibold bg-success text-inverse-success">B</div>
								</div>
								<!--end::Symbol-->
								<!--begin::Section-->
								<div class="d-flex align-items-center flex-row-fluid flex-wrap">
									<!--begin:Author-->
									<div class="flex-grow-1 me-2">
										<a href="pages/user-profile/overview.html" class="text-gray-800 text-hover-primary fs-6 fw-bold">Boy</a>
									</div>
									<!--end:Author-->
									<!--end:Author-->
									<div class="flex-shrink-0 ms-auto">
										<span class="text-gray-800 text-hover-primary fs-6 fw-bold" id="productLength"></span>
									</div>
								</div>
								<!--end::Section-->
							</div>
							<!--end::Item-->
							<!--begin::Separator-->
							<div class="separator separator-dashed my-4"></div>
							<!--end::Separator-->
							<!--begin::Item-->
							<div class="d-flex flex-stack">
								<!--begin::Symbol-->
								<div class="symbol symbol-40px me-4">
									<div class="symbol-label fs-2 fw-semibold bg-info text-inverse-info">Y</div>
								</div>
								<!--end::Symbol-->
								<!--begin::Section-->
								<div class="d-flex align-items-center flex-row-fluid flex-wrap">
									<!--begin:Author-->
									<div class="flex-grow-1 me-2">
										<a href="pages/user-profile/overview.html" class="text-gray-800 text-hover-primary fs-6 fw-bold">Yükseklik</a>
									</div>
									<!--end:Author-->
									<!--end:Author-->
									<div class="flex-shrink-0 ms-auto">
										<span class="text-gray-800 text-hover-primary fs-6 fw-bold" id="productHeight"></span>
									</div>
								</div>
								<!--end::Section-->
							</div>
							<!--end::Item-->
							<!--begin::Separator-->
							<div class="separator separator-dashed my-4"></div>
							<!--end::Separator-->
							<!--begin::Item-->
							<div class="d-flex flex-stack">
								<!--begin::Symbol-->
								<div class="symbol symbol-40px me-4">
									<div class="symbol-label fs-2 fw-semibold bg-primary text-inverse-primary">A</div>
								</div>
								<!--end::Symbol-->
								<!--begin::Section-->
								<div class="d-flex align-items-center flex-row-fluid flex-wrap">
									<!--begin:Author-->
									<div class="flex-grow-1 me-2">
										<a href="pages/user-profile/overview.html" class="text-gray-800 text-hover-primary fs-6 fw-bold">Ağırlık</a>
									</div>
									<!--end:Author-->
									<!--end:Author-->
									<div class="flex-shrink-0 ms-auto">
										<span class="text-gray-800 text-hover-primary fs-6 fw-bold" id="productWeight"></span>
									</div>
								</div>
								<!--end::Section-->
							</div>
							<!--end::Item-->
							<!--begin::Separator-->
							<div class="separator separator-dashed my-4"></div>
							<!--end::Separator-->
							<!--begin::Item-->
							<div class="d-flex flex-stack">
								<!--begin::Symbol-->
								<div class="symbol symbol-40px me-4">
									<div class="symbol-label fs-2 fw-semibold bg-warning text-inverse-warning">H</div>
								</div>
								<!--end::Symbol-->
								<!--begin::Section-->
								<div class="d-flex align-items-center flex-row-fluid flex-wrap">
									<!--begin:Author-->
									<div class="flex-grow-1 me-2">
										<a href="pages/user-profile/overview.html" class="text-gray-800 text-hover-primary fs-6 fw-bold">Hacim</a>
									</div>
									<!--end:Author-->
									<div class="flex-shrink-0 ms-auto">
										<span class="text-gray-800 text-hover-primary fs-6 fw-bold" id="productVolume"></span>
									</div>
								</div>
								<!--end::Section-->
							</div>
							<!--end::Item-->
						
						</div>
						<!--end::Body-->

					</div>
					<!--end::List-->
				</div>
				<!--end::Users-->

			</div>
			<!--end::Modal body-->
		</div>
		<!--end::Modal content-->
	</div>
	<!--end::Modal dialog-->
</div>
<!--end::Modal - View Users-->
