
<!--begin::Modal - View Users-->
<div class="modal fade" id="product_warehouse_total_modal" tabindex="-1" aria-hidden="true">
	<!--begin::Modal dialog-->
	<div class="modal-dialog mw-650px">
		<!--begin::Modal content-->
		<div class="modal-content">
			<!--begin::Modal header-->
			<div class="modal-header pb-0 border-0 justify-content-end">
				<!--begin::Close-->
				<div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
					<i class="ki-outline ki-cross fs-1"></i>
				</div>
				<!--end::Close-->
			</div>
			<!--begin::Modal header-->
			<!--begin::Modal body-->
			<div class="modal-body scroll-y mx-5 mx-xl-10 pt-0 pb-5">
				<!--begin::Heading-->
				<div class="text-center mb-13">
					<!--begin::Title-->
					<h1 class="mb-3">Ambar Toplamları</h1>
					<!--end::Title-->
					<!--begin::Description-->
					<div class="text-muted fw-semibold fs-5" id="productWarehouseTotalInformation">
						<a href="#" class="link-primary fw-bold"></a>.
					</div>
					<!--end::Description-->
				</div>
				<!--end::Heading-->
				<!--begin::Users-->
				<div class="mb-15">
					<!--begin::List-->
					<div class="mh-650px scroll-y">
						<!--end::Modal header-->
						<div class="card mb-5 mb-xl-8">
							<!--begin::Body-->
							<div class="card-body py-3">
								<div id="loadingIndicator" class="loading-indicator" style="display: none;">
									<div class="spinner-border text-primary" role="status">
										<span class="visually-hidden">Loading...</span>
									</div>
								</div>
								<!--begin::Table container-->
								<div class="table-responsive">
									<!--begin::Table-->
									<table class="table align-middle gs-0 gy-4" id="product_warehouse_total_list_table">
										<!--begin::Table head-->
										<thead>
											<tr class="fw-bold text-muted bg-light">
												<th class="ps-4 min-w-105px rounded-start">Ambar</th>
												<th class="min-w-100px rounded-end">Miktar</th>
											</tr>
										</thead>
										<!--end::Table head-->
										<!--begin::Table body-->
										<tbody>
										</tbody>
										<!--end::Table body-->
									</table>
									<!--end::Table-->
								</div>
								<!--end::Table container-->
							</div>
							<!--begin::Body-->
						</div>
						<!--end::Tables Widget 11-->

					</div>
					<!--end::List-->
				</div>
				<!--end::Users-->
			
			</div>
			<!--end::Modal body-->
		</div>
		<!--end::Modal content-->
	</div>
	<!--end::Modal dialog-->
</div>
<!--end::Modal - View Users-->

