@using Deppo.Web.ViewModels.ProductViewModels
@model ProductDetailViewModel


<p>@Model.Product.ReferenceId</p><br />
<p>@Model.Product.Name</p><br />

<p>@Model.InputQuantity</p><br />
<p>@Model.OutputQuantity</p><br />